<!DOCTYPE html>
<link rel="shortcut icon" type="image/png" href="/favicon.ico">

<!-- Twitter cards -->
<meta name="twitter:site"    content="@{{ site.twitter_username }}">
<meta name="twitter:title"   content="{{ page.title }}">

{% if page.summary %}
<meta name="twitter:description" content="{{ page.summary }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}

{% if page.image %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ page.image  | prepend: site.baseurl | prepend: site.url }}">
{% else %}
<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="{{ "/assets/skmkzyk.jpg" | prepend: site.baseurl | prepend: site.url }}">
{% endif %}

<!-- end of Twitter cards -->

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
